*.idea
.project
.pydevproject
__pycache__/
*.pyc
data/*.tsv
data-analysis/data/*
data/xmi/
.cache/
/env
.pycache
*/.pycache
scribbles
/venv

data/bow_models/*.json
!data/bow-models/test_pred_data.json
data/onnx_models/*.onnx
!data/onnx_models/default.onnx
!data/onnx_models/test_pred_data.onnx
data/model_metrics/*.json
gen
