[submodule "src/features"]
	path = src/features
	url = https://github.com/iqb-berlin/ics-isaac-feature-extraction.git
[submodule "lib/coding-service"]
	path = lib/coding-service
	url = https://github.com/iqb-specifications/coding-service.git
[submodule "lib/ics-components"]
	path = lib/ics-components
	url = https://github.com/iqb-berlin/ics-components.git
