*.idea
.project
.pydevproject
__pycache__/
*.pyc
data/*.tsv
data-analysis/data/*
data/xmi/
.cache/
/env
.pycache
*/.pycache
scribbles
/venv

bow_models/*.json
!bow-models/test_pred_data.json
onnx_models/*.onnx
!onnx_models/default.onnx
!onnx_models/test_pred_data.onnx
model_metrics/*.json
