[submodule "lib/ics_components"]
	path = lib/ics_components
	url = https://github.com/iqb-berlin/ics-components.git
[submodule "lib/feature_extraction"]
	path = lib/feature_extraction
	url = https://github.com/iqb-berlin/ics-isaac-feature-extraction.git
